<%- content_for :custom_css, 'two_way_sms' %>
<section>
  <div class="rivet-title">
    <div class="container">
      <h1>Two-Way SMS</h1>
      <h2>The Power To Engage With Your Customers Through Quick Feedbacks</h2>
      <p>We allow users to send and receive an SMS from a dedicated number through our SMS gateway.</p>
      <%= link_to  "https://smpplive.com/" do%>
          <button>Get Started for Free</button>
      <%end%>
    </div>
  </div>
  <%= render 'layouts/receive_callback'%>
  <div class="engage">
    <div class="container">
      <h1>Engage in interactive communication</h1>
      <div class="engage-item-content">
        <div class="engage-item">
          <%= image_pack_tag 'calendar.svg'%>
          <h2>Appointment Confirmations</h2>
          <p>Comfirm your customer's appointments quickly on-the-go</p>
        </div>
        <div class="engage-item">
          <%= image_pack_tag 'review.svg'%>
          <h2>Survey Responses</h2>
          <p>Get quick responses and better reach on mass surveys programs</p>
        </div>
        <div class="engage-item">
          <%= image_pack_tag 'subscription.svg'%>
          <h2>Opt-in SMS</h2>
          <p>Make sure your customers subscribe to your texting communications</p>
        </div>
      </div>
    </div>
  </div>
  <div class="conversations">
    <div class="container">
      <h1>Create Conversations, Not Spam</h1>
      <h6>
        Sending emails and one-way marketing texts is a missed opportunity to capture leads, schedule an appointment, or sell directly in a messaging channel. Cut through the noise and engage your consumers with targeted, two-way messaging that outperforms traditional tactics.
      </h6>
      <h2>Better Care Experience</h2>
      <p>Don't make customers call or visit a website to get support or information. Instead, use our outbound business messaging solution for oroactive account updates, service outages, and more, reducing inbound call volume and increasing customer satisfaction.</p>

      <%= link_to  "https://smpplive.com/" do%>
          <button>Get Started for Free</button>
      <%end%>
    </div>
  </div>
  <div class="connect">
    <div class="container">
      <h1>We Connect You To The World</h1>
      <p>
        With direct connection to 200 global telecom partners that connect to 65% of the world's mobile devices, we successfully deliver over 100 bullion messages a year. Connect worldwide with single interface and enjoy all the benefits of an industry-leading platform.
      </p>
    </div>
  </div>
</section>